.business-setting {
    .block-main {
        background-color: $box-backgroud;
    }
}

.business-form {
    form {
        width: 65%;
    }
}

.business-form {
    form {
        .form-group {
            width: 200px
        }
    }
}

form {
    .label {
        font-size: 15px;
    }
}

.business-form {
    form {
        .form-group {
            .info {
                font-size: 20px;
            }
        }
    }
}

.unverified {
    background-color: #f8e5b9;
    border-radius: 30px;
    font-size: 12px;
    padding: 1px 7px;
    width:73px
}

.business-setting {
    .block-bootom {
        .btns {
            width: 130px;
        }
    }
}

.business-form {
    .form-title {
        border-bottom: 1px solid #e6eaf0;
    }
}