.block-header {
    div {
        display: inline-block
    }
}

.lists {
    p {
        color: #4e566d;

    }
}

.notice{
    p{
        font-size: 14px
    }
}


.lists {
    i{
        font-size:19px;
    }
}


.lists {
    i.fa-check-circle{
        color:red
    }
}